@using KarcicegiYayinVeDagitim.Entity
@model IEnumerable<Product>

<div id="carouselBlk">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <a href="#"><img style="width:100%" src="~/Content/image/Karçiçeği1_676x260.jpg" alt="special offers" /></a>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="item">
                    <div class="container">
                        <table>
                            <tr>
                                <td>
                                    <a href="/Home/ProductDetails/@item.Id">
                                        <div align="left"><img src="~/Content/image/@item.Image" style="width:100%;"  /> </div>
                                    </a>
                                </td>
                                <td>
                                    <a href="/Home/ProductDetails/@item.Id">
                                        <div align="right"><img src="~/Content/image/indirim.jpg" style="width:100%;" /> </div>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="carousel-caption">
                            <h4></h4>
                            <p></p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>
