@using (@Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "form-inline navbar-search" }))
{
    <input id="" name="q" class="srchTxt" type="text" placeholder="Arama" />

    <button type="submit" id="submitButton" class="btn btn-primary">Arama</button>
}

