@model IEnumerable<KarcicegiYayinVeDagitim.Entity.Order>


<li class="dropdown notifications-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bell-o"></i>
        <span class="label label-warning">@Model.Count()</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header"><strong>Bildirimler</strong>(Beklenen Siparişler)</li>
        <li>
            <!-- inner menu: contains the actual data -->
            <ul class="menu">
                @foreach (var item in Model)
                {
                    <li>
                        <a href="/Order/Details/@item.Id">
                            <strong>@item.UserName: </strong>Kullanıcısı Ürününü bekliyor...!!
                        </a>
                    </li>
                }

            </ul>
        </li>
        <li class="footer">
            @if (Model.Count() > 0 )
            {
                <p>Bildirimleriniz</p>
            }
            else
            {
                <span>Bildirim yok</span>
            }
        </li>
    </ul>
</li>
