@model KarcicegiYayinVeDagitim.Entity.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Sil</h2>

<h3>Kategori Silmek İstediğinizden emin misiniz?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            Adı :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Açıklama :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" /> |
            @Html.ActionLink("Kategori Listesi", "Index", null, new { @class = "btn btn-warning" })
        </div>
    }
</div>
