
@{
    ViewBag.Title = "Complated";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Action("CategoryListNavbar", "Category")
<div id="mainBody">
    <div class="container">
        <div class="row">
            <!-- Sidebar ================================================== -->
            <div id="sidebar" class="span3">
                @Html.Action("Summary", "Cart")
                <ul id="sideManu" class="nav nav-tabs nav-stacked">

                    @Html.Action("CategoryList", "Category");

                </ul>
                <br />
                @Html.Action("FeaturedProductList", "Home")
            </div>
            <!-- Sidebar end=============================================== -->
            <div class="span9">

                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Başarılı !</strong> Satın aldığınız ürünler en kısa zamanda kargoya verilecektir.
                </div>

            </div>
        </div>
    </div>
</div>

